/* Variables */
:root{
    --gris: #464646;
    --blancuzco: #F5F5F5;
    --cyan: rgb(2, 131, 131);
    --hueso: #EAF2FD;
    --azulito: #2A7AE4;
    --blanco: #FFFFFF;
}

/* Globales */
body{
    background-color: var(--blancuzco);
}

main{
    height: 590px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: center;
}

h1, h2, h3, p{
    cursor: default;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

::-webkit-scrollbar {display: none;}

/* Estilos para el Header */
.contHeader{
    justify-content: space-between;
    margin: 16px 32px;
}

.contHeader-derecha-nombre{
    margin-left: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--gris);
}

.contHeader-derecha-nombre:hover{
    cursor: default;
}

.contHeader-derecha-logo{
    height: 16px;
    width: 16px;
}

.contHeader-nav{
    gap: 32px;
}

.contHeader-nav a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--gris);
    text-decoration-line: none;
}

/* Estilos para la  sección 1 (presentación) */
.contIntroducción{
    margin: 16px 0px;
}

.introduccion{
    margin-right: 50px;
}

.presentacion{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: var(--gris);
    margin: 0 auto 24px auto;
}

.descripcion{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: var(--gris);
    text-align: justify;
    line-height: 35px;
}

.perfil{
    border-radius: 50%;
}

.enlaces a{
    font-size: 32px;
    color: var(--gris);
    margin-right: 32px;
}

/* Estilos para la sección 2 (Sobre Mi)*/
.contSobreMi{
    flex-direction: column;
    align-items: center;
    background: var(--hueso);
    position: relative;
    left: -32px;
    width: 105%;
}

.contSobreMi h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    color: var(--gris);
    margin-bottom: 16px;
}

.contSobreMi p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gris);
    text-align: justify;
    margin-right: 32px;
    margin-left: 32px;
    line-height: 25px;
}

.firma{
    height: 52px;
    margin-bottom: 16px;
}

/* Estilos para la sección 3 (Habilidades) */
.contSkills{
    padding-bottom: 32px;
}

.titulo-seccion{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: var(--gris);
    margin-bottom: 32px;
}

.contSkills-tools{
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 16px 0;
    gap: 8px;
}

.contSkills-tools div{
    padding: 16px;
    width: 176px;
    height: 174px;
    background: linear-gradient(225deg, var(--azulito), var(--blanco) 75%);
    border-radius: 10px;
    box-shadow: 14px 13px 13px -9px rgba(0,0,0,0.51);
}

.contSkills-tools>div:hover{
    background: linear-gradient(225deg, var(--cyan), var(--blanco) 75%);
}

.contSkills-tools div i{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: var(--azulito);
    padding-top: 94px;
    padding-bottom: 8px;
}

.contSkills-tools div p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--gris);
}

/* Estilos para la sección 4 (Formación Académica) */
.contFormacion{
    background: var(--hueso);
    position: relative;
    left: -32px;
    width: 105%;
    padding: 16px 0;
}

.contFormacion-cuadros{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.contFormacion-cuadros div{
    justify-content: center;
    gap: 16px;
}

.cuadro-logo{
    background: var(--blanco);
    border-radius: 10px;
    box-shadow: 14px 13px 13px -9px rgba(0,0,0,0.51);
}

.logo-formacion{
    width: 150px;
    height: 100px;
    padding: 50px;
    object-fit: contain;
}

.contFormacion-cuadros div h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: var(--gris);
    margin-bottom: 8px;
    width: 250px;
    text-align: center;
    white-space: break-spaces;
}

.contFormacion-cuadros div p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--gris);
    margin-top: 0;
    text-align: center;
}

/* Estilos para la sección 5 (Experiencia Laboral) */
.exp{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-right: 14px;
}

.imagen-experiencia{
    height: 406px;
    border: 1px solid var(--azulito);
    border-radius: 10px;
    box-shadow: 14px 13px 13px -9px rgba(0,0,0,0.51);
    box-sizing: border-box;
}

.detalle-experiencia>h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: var(--gris);
    margin-bottom: 8px;
}

.detalle-experiencia>p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--gris);
    margin-bottom: 12px;
    line-height: 25px;
    text-align: justify;
}

.btn-repo{
    width: 116px;
    height: 51px;
    border: 1px solid var(--azulito);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--azulito);
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
    box-shadow: 1px 2px 2px 0 rgba(25, 37, 83, 0.589);
}

.btn-demo{
    width: 105px;
    height: 51px;
    background: var(--azulito);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-style: none;
}

/* Estilos para el footer */
footer{
    height: 100px;
    margin: 16px auto 0 auto;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    position: relative;
    left: -32px;
    width: 105%;
}

footer h2{
    color: var(--hueso);
    text-decoration: none;
    font-size: 28px;
}

/* Responsive */
@media (max-width: 1034px){
    /* Main */
    main{
        height: auto;
    }
    /* H2 */
    .titulo-seccion{
        font-size: 22px;
    }
    /* Header */
    .contHeader-nav a{
        display: none;
    }
    /* Introducción */
    .perfil{
        width: 146px;
        height: 146px;
    }
    .presentacion{
        font-size: 22px;
        margin-bottom: 16px;
    }
    .descripcion{
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 24px;
    }

    /* Sobre mí */
    .contSobreMi p{
        font-size: 14px;
    }

    /* Formacion Academica */
    .logo-formacion{
        width: 100px;
        height: 60px;
        padding: 50px;
    }

    /* Experiencia Profesional */
    .imagen-experiencia{
        height: 200px;
    }

    .detalle-experiencia p{
        margin-top: 0;
    }
}

@media(max-width: 762px){
    /* H2 */
    .titulo-seccion{
        font-size: 18px;
    }

    main{
        padding: 0 8px;
    }

    /* Introducción */
    .contIntroducción{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 8px;
        width: 100%;
    }

    .introduccion{
        margin-right: 0;
        text-align: center;
    }

    .descripcion{
        font-size: 10px;
        margin-bottom: 16px;
        line-height: 16px;
    }

    .enlaces a{
        font-size: 16px;
        margin-right: 16px;
    }

    /* Sobre mí */
    .contSobreMi{
        width: 100%;
        left: 0px;
    }

    .contSobreMi p{
        font-size: 10px;
        line-height: 16px;
        margin-left: 0;
        margin-right: 0;
    }

    /* Habilidades */
    .contSkills{
        width: 100%;
    }

    .contSkills-tools div{
        width: 120px;
        height: 122px;
    }

    .tools>p{
        display: none;
    }

    /* Formacion Academica */
    .contFormacion{
        width: 100%;
        left: 0px;
    }

    /* Experiencia Profesional */
    .exp{
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .imagen-experiencia{
        width: 320px;
    }

    .detalle-experiencia>h3{
        font-size: 16px;
    }

    .detalle-experiencia>p{
        font-size: 10px;
        line-height: 16px;
    }

    .detalle-experiencia>button{
        width: 70px;
        height: 30px;
        font-size: 10px;
    }

    /* Footer */
    footer{
        height: 40px;
        box-sizing: content-box;
        left: -8px;
    }

    footer>h2{
        font-size: 16px;
    }
}

/* Hover para todos los a */
a:hover{
    color: var(--cyan);
    text-decoration: underline;
}